.center{
    text-align: center;
}
.chairman{
    width: 20vh;
}
.cell {
    -webkit-box-shadow: 0 0 5px 6px rgb(173, 168, 168);
    -moz-box-shadow: 0 0 5px 6px rgb(173, 168, 168);
    box-shadow: 0 0 5px 6px rgb(173, 168, 168);
    margin: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.cell:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.cell>div{
    margin-top: 5px;
}
.img {
    width: 110px;
    height: 80px;
}

.table {
    display: flex;
    flex-direction: column;
}

.quizRow {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 355px) {
    .quizRow {
        flex-direction: column;
    } 
}